@{
    Layout = "_Layout";
}

@model List<Pizza>

@if (Model.Count() == 0)
{
    <h2>La Pizzeria è ancora in fase di apertura, le pizze ancora dobbiamo deciderle. Seguite la nostra pagina Instagram per rimanere connessi</h2>
}else{
<div class="container">

    <div class="gap-3 d-flex justify-content-center row">
        @foreach (Pizza pizza in Model)
        {
            <div class="card" style="width: 18rem;">
                <figure class="w-100 h-75 p-2">
                    <img src="@pizza.Pathimg" class="card-img-top" alt="@pizza.Name">
                </figure>
                <div class="card-body">
                    <h5 class="card-title">@pizza.Name</h5>
                    <p class="card-text">@pizza.Description</p>
                    <p class="card-text">@pizza.Price €</p>

                </div>
            </div>
        }
    </div>
</div>
}
